<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
    
<head>
    {% include head.html %} 
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                    <a class="btn zoombtn" href="{{site.url}}">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <h1>Summary of Projects</h1>
                
                <table style="width:100%">
                    <tr>
                        <th>Title</th>
                        <th>Recent work</th>
                        <th>Tasks to do</th>
                        <th>Estimated completion date</th>
                    </tr>
                    <tr>
                        <td>CO2 in CPB</td>
                        <td>Recruitment: 23/30</td>
                        <td>Finish recruitment</td>
                        <td bgcolor="yellow">By 23/12/16</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Redraft and submit</td>
                        <td bgcolor="lime">By 30/1/17</td>
                    </tr>
                    <tr>
                        <td>NIRS in CSurg Review</td>
                        <td>2nd draft completed</td>
                        <td>3rd/Final drafting and submit</td>
                        <td bgcolor="orange">By 11/11/16</td>
                    </tr>
                    <tr>
                        <td>LABMET</td>
                        <td>Preliminary stats done</td>
                        <td>Sensitivity analyses</td>
                        <td bgcolor="orange">By 11/11/16</td>
                    </tr>
                    <tr>
                        <td>CAF/CBF Review</td>
                        <td>Stats done</td>
                        <td>PROSPERO registration</td>
                        <td bgcolor="red">By 2/11/16</td>
                    </tr>
                    <tr>
                        <td>CAF/CBF Review</td>
                        <td>Stats done</td>
                        <td>First draft</td>
                        <td bgcolor="orange">By 25/11/16</td>
                    </tr>
                    <tr>
                        <td>STOIC</td>
                        <td>Data received</td>
                        <td>Liver data cleaning/stats</td>
                        <td bgcolor="orange">By 18/11/16</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Coordinate data collection</td>
                        <td bgcolor="red">By 4/11/16</td>
                    </tr>
                    <tr>
                        <td>PCC</td>
                        <td>Data collection</td>
                        <td>Reorganise data/Stats</td>
                        <td bgcolor="red">By 25/11/16</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Redraft</td>
                        <td bgcolor="red">By 23/12/16</td>
                    </tr>
                </table>
                
                <div class="post-list">
                    {% for post in site.posts %} 
                        {% if post.project %}
                    <ul>
                        <li class="wow fadeInLeft" data-wow-duration="1.5s">
                            <a class="zoombtn" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                            <p>{{ post.excerpt }}</p>
                            <a href="{{ site.url }}{{ post.url }}" class="btn zoombtn">Read More</a>
                        </li>
                    </ul>
                      {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
