<table style="width:100%">
                    <tr>
                        <th>Title</th>
                        <th>Recent work</th>
                        <th>Tasks to do</th>
                        <th>Estimated completion date</th>
                    </tr>
                    <tr>
                        <td>CO2 in CPB</td>
                        <td>Recruitment: 23/30</td>
                        <td>Finish recruitment</td>
                        <td bgcolor="yellow">By 23/12/16</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Redraft and submit</td>
                        <td bgcolor="lime">By 30/1/17</td>
                    </tr>
                    <tr>
                        <td>NIRS in CSurg Review</td>
                        <td>2nd draft completed</td>
                        <td>3rd/Final drafting and submit</td>
                        <td bgcolor="red">By 11/12/16</td>
                    </tr>
                    <tr>
                        <td>NIRS in CSurg Review</td>
                        <td>2nd draft completed</td>
                        <td>3rd/Final drafting and submit</td>
                        <td bgcolor="red">By 11/12/16</td>
                    </tr>
                </table>
